body {
    height: auto;
    background-image: url("KobaSiteLoginWallpaper.png")
}

.pageBackground {
    
    text-align: center;
    padding: 50px;
}
.textBoxes
{
    input: [type=text], select;
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.lblWelcome{
    text-align: center;
    padding-bottom:50px;
    padding-top: 50px;
}
.loginButtons {
    background-color: #4CAF50; /* Green */
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
}
.stationButtons {
    background-color: darkslategrey;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
}

.createUserBtn {
    background-color: gray;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.greetingBG {
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    margin-top:30px;
    padding:30px;
}

.fixyNav {
    position: fixed;
    top: 0;
}

.navpad {
    padding: 15px;
    margin-left: -5px;
    margin-right: -5px;
    width: 100.3%;
}

.descBG {
    z-index:8;
    filter: blur(8px);
    background-size:100%;
}

#descriptionField{
    z-index:10;
}